In [1]:
import pandas as pd

In [2]:
data_train = pd.read_csv("../data/vins_train.csv")

In [3]:
data_train.head()

,VIN,CarBrand,CarModel,YearManufactured,EngineType,EngineVolume,Color
0,NVKZTHZ0X18TM05845,ВАЗ (LADA),2115 Samara,2009,Бензин,1.6,Серый
1,HNVKZXWFJ22J206195,ВАЗ (LADA),2112,2003,Бензин,1.6,Чёрный
2,HYQS2DXM922I900038,ВАЗ (LADA),21099,2003,Бензин,1.4,Серебряный
3,HNVKZF1KZ636X08104,ВАЗ (LADA),2110,1998,Бензин,1.6,Зелёный
4,EBLI88GR11J203825,Opel,Meriva,2008,Бензин,1.6,Чёрный

In [ ]:
data_train.shape

(338921, 7)

In [33]:
data_train.drop_duplicates().shape

(338857, 7)

In [32]:
data_train[["VIN"]].drop_duplicates().shape

(338791, 1)

In [31]:
data_train['CarBrand'].value_counts(normalize=True)

CarBrand
ВАЗ (LADA)    0.834755
Opel          0.076915
Mazda         0.048129
Skoda         0.040201
Name: proportion, dtype: float64

In [ ]:
data_train['CarModel'].value_counts(normalize=True)

CarModel
2107               0.086587
2114 Samara        0.083468
2110               0.081591
Priora             0.081048
2109               0.064239
                     ...
2121 (4x4) Фора    0.000003
Bongo Friendee     0.000003
105                0.000003
Kapitan            0.000003
Monza              0.000003
Name: proportion, Length: 142, dtype: float64

In [26]:
set(data_train['CarModel'].value_counts(normalize=True).reset_index()[:55]["CarModel"].values)

{'1111 Ока',
 '2',
 '2101',
 '2102',
 '2103',
 '2104',
 '2105',
 '2106',
 '2107',
 '2108',
 '2109',
 '21099',
 '2110',
 '2111',
 '2112',
 '2113 Samara',
 '2114 Samara',
 '2115 Samara',
 '2123',
 '3',
 '323',
 '4x4 (Нива)',
 '6',
 '626',
 'Antara',
 'Ascona',
 'Astra',
 'Astra GTC',
 'CX-5',
 'CX-7',
 'Corsa',
 'Demio',
 'Fabia',
 'Familia',
 'Felicia',
 'Frontera',
 'Granta',
 'Insignia',
 'Kadett',
 'Kalina',
 'Largus',
 'MPV',
 'Meriva',
 'Mokka',
 'Octavia',
 'Omega',
 'Priora',
 'Rapid',
 'Roomster',
 'Superb',
 'Tribute',
 'Vectra',
 'Yeti',
 'Zafira',
 'Другая'}

In [6]:
data_train['YearManufactured'].value_counts(normalize=True)

YearManufactured
2008    0.075761
2007    0.073238
2006    0.061660
2004    0.061247
2005    0.058893
          ...
1964    0.000006
1966    0.000006
1963    0.000003
1967    0.000003
1962    0.000003
Name: proportion, Length: 62, dtype: float64

In [7]:
data_train['EngineType'].value_counts(normalize=True)

EngineType
Бензин     0.961303
Газ        0.018019
Дизель     0.011657
Гибрид     0.008381
Электро    0.000640
Name: proportion, dtype: float64

In [8]:
data_train['EngineVolume'].value_counts(normalize=True)

EngineVolume
1.6     0.441038
1.5     0.309061
1.7     0.045937
1.4     0.040292
1.8     0.040289
1.3     0.030085
2.0     0.025683
1.2     0.015465
0.8     0.008896
0.6     0.006330
0.7     0.005128
2.3     0.004777
2.5     0.004612
1.0     0.003251
2.2     0.002722
6.0+    0.002439
1.1     0.002303
1.9     0.001774
2.4     0.001754
3.0     0.001311
0.9     0.001213
3.2     0.000723
5.5     0.000437
6.0     0.000295
4.0     0.000275
5.0     0.000272
2.1     0.000272
2.6     0.000269
2.8     0.000266
3.7     0.000266
3.5     0.000192
5.7     0.000186
2.7     0.000180
5.1     0.000154
5.2     0.000151
3.1     0.000142
5.4     0.000118
5.9     0.000115
5.6     0.000103
4.2     0.000100
2.9     0.000097
3.3     0.000097
5.8     0.000089
5.3     0.000089
4.4     0.000089
4.5     0.000083
4.6     0.000080
3.6     0.000074
4.9     0.000074
4.3     0.000071
3.4     0.000062
3.9     0.000047
4.7     0.000047
4.1     0.000044
4.8     0.000041
3.8     0.000041
Name: proportion, dtype: float64

In [9]:
data_train['Color'].value_counts(normalize=True)

Color
Серебряный    0.171069
Белый         0.152729
Чёрный        0.128638
Зелёный       0.114407
Серый         0.112324
Синий         0.108603
Красный       0.086752
Бежевый       0.033801
Фиолетовый    0.024740
Голубой       0.018692
Коричневый    0.018326
Золотой       0.010855
Пурпурный     0.008536
Жёлтый        0.005677
Оранжевый     0.003517
Розовый       0.001334
Name: proportion, dtype: float64

In [10]:
data_train["VIN"].apply(len).value_counts()

VIN
18    120964
19     84781
17     81984
16     26106
20     21996
15      3090
Name: count, dtype: int64